<header id="header" class="row">

        <div class="small-12 columns">

            <a class="nav__logo" href="{{ site.url }}">{{ site.brand }}</a>

            <nav class="right show-for-medium-up mam">
                <ul class="">
                    {% include nav.html %}
                </ul>
            </nav>

            <section class="right show-for-small">
                <ul class="inline-list mam">
                <li>
                    <a class="" href="#"><i class="fa fa-bars fa-lg">
                    </i></a>
                </li>
                </ul>
            </section>
        </div>
    </header>